body {
    background-color: #aef0c4;
    text-align: center;
}

.card {
    background-color: white;
    width: 18%;
    display: inline-block;
    text-align:center;
    height: 540px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 10px;
}

.card img {
    width: 100%;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.button {
    background-color: #aef0c4;
    text-decoration: none;
    color: #524f4e;
    font-size: 20px;
    padding: 5px 40px;
    border-radius: 25px;
}

.card p {
    font-size: 17px;
}

.card h3 {
    font-size: 24px;
}

.menuitem {
    margin: 20px;
    font-size: 25px;
    text-decoration: none;
    color: #800000;
    border: 1px solid black;
    display: inline-block;
    width: 200px;
    padding: 10px;
    border-radius: 45px;
    box-shadow: 3px 5px 3px;
}

nav {
    padding: 10px;
}

h1, h2 {
    margin-top: 100px;
    color: #4b0082;
    font-size: 35px;
}

html {
    scroll-behavior: smooth;
  }

caption {
    margin-bottom: 20px;
    font-size: 45px;
    color: #4b0082;
    text-shadow: 2px 2px 2px gray;
}

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
}

tr {
    

}

td {
    padding: 30px 10px 10px; 
    background-color: white;
    border-bottom: 1px dashed gray;
    border-left: 1px dashed gray;
    border-right: 1px dashed gray;
}

th {
    padding: 30px 10px 10px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 22px;
    text-shadow: 1px 1px 2px black; 
    color: white;
    width: 25%;
}

.basic {
    background-color: #ff0f83;
}

.pro {
    background-color: #036ee7;
}

.gold {
    background-color: #6400de;
}

.platinum {
    background-color: #fca103;
}